body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
}
.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 80px;
}

/* Header */
.header h2 {
  font-size: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  margin-top: 40px;
}

.header p {
  color: #141212;
  margin-bottom: 25px;
}

/* Form Card */
.card {
  background: white;
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
  
}

.form-group {
  text-align: left;
  margin-top: 12px;
}
label {
  font-size: 10px;
  
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.role-text {
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
}
.role-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.role-btn {
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.doctor {
  background: #4393e4;
  
}
.patient {
  background: #ccd9cf;
}

.continue-btn {
  width: 100%;
  margin-top: 20px;
  background: #d879a4;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}
.footer-links {
  margin-top: 15px;
  color: gray;
}
.footer-links a {
  color: gray;
  text-decoration: none;
}

/* Discover Section */
.discover-title {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 600;
  color: #1e1e1e;
}

/* Feature Cards */
.feature-card {
  background: rgb(238, 235, 235);
  padding: 20px;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: left;
  position: relative;
}


.feature-card .icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 26px;
}

/* Why Choose Us */
.choose-title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
}

.choose-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.choose-item {
  text-align: center;
}

.circle-icon {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  margin: 0 auto;
}

.footer {
  margin-top: 50px;
  font-size: 14px;
  color: #555;
}

.footer a {
  color: #555;
  text-decoration: none;
}

.footer p {
  margin-top: 10px;
  color: #444;
}


/* About Section */
.about-section {
 
  padding: 80px 40px;
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  color: #1d1d1d;
}

.about-section p {
  font-size: 15px;
  color: #2e2b2b;
  line-height: 1.6;
  margin-top: 10px;
}

.about-section ul {
  text-align: left;
  margin-top: 10px;
  padding-left: 20px;
}

.about-section ul li {
  font-size: 15px;
  color: #444;
  margin: 8px 0;
  line-height: 1.5;
}
.role-btn {
  padding: 12px 18px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.role-btn.active {
  background-color: #4A90E2;   /* Blue when selected */
  color: white;
  border-color: #1f6fd8;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .feature-card {
    width: 100%;
    margin: 15px auto;
  }

  .choose-container {
    flex-direction: column;
  }
}
 