.doctor-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.doctor-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.doctor-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.doctor-left-box,
.doctor-right-box {
  width: 45%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.label-small {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.doctor-preview img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.empty-msg {
  color: gray;
  font-size: 14px;
  margin-top: 10px;
}
.form-group {
  margin-top: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.doctor-add-btn {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #2b7df7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.doctor-med-item {
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.small-thumb {
  width: 80px;
  margin-top: 8px;
  border-radius: 6px;
}

.status-badge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: 600;
  color: white;
}

.status-badge.safe {
  background: #28a745; /* green */
}

.status-badge.soon {
  background: #ff9800; /* orange */
}

.status-badge.expired {
  background: #e53935; /* red */
}

.med-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-btn {
  width: 180px;
  padding: 8px 12px;
  background: #2b6ef5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  font-weight: 600;
}
.sort-btn:hover {
  background: #1e54c9;
}
.doctor-tone-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background: #5a67d8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 200px;

}

.doctor-tone-btn:hover {
  background: #434aa8;
}

.med-note {
  font-style: italic;
  font-size: 14px;
  margin-top: 6px;
  color: #333;
}


.image-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.delete-img-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}
